<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Lista de Empleados</span>
            <button class="btn btn-dark btn-lg float-right" routerLink="/create-empleados">
                <fa-icon [icon]='faPlus' class="mr-3"></fa-icon>Agregar
            </button>
            <table class="table table-striped mt-5">
                <thead>
                    <tr>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>DNI</th>
                        <th>Salario</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngIf="loading">
                        <td colspan="5">
                            <div class="text-center">
                                <div class="spinner-border text-secondary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                Cargando...
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="empleados.length==0">
                        <td colspan="5">
                            <h5 class="text-center">
                                No hay Empleados Registrados
                            </h5>
                        </td>
                    </tr>
                    <tr *ngFor="let empleado of empleados">
                        <td>{{empleado.apellido}}</td>
                        <td>{{empleado.nombre}}</td>
                        <td>{{empleado.dni}}</td>
                        <td>{{empleado.salario | currency}}</td>
                        <td>
                            <fa-icon [icon]='faEdit' class="fa-lg text-info mr-5"
                                [routerLink]="['/editar-empleado/', empleado.id]"></fa-icon>
                            <fa-icon [icon]='faTrashAlt' class="fa-lg text-danger"
                                (click)="eliminarEmpleado(empleado.id)"></fa-icon>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>