<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Lista de Empleados</span>
            <button class="btn btn-dark btn-lg float-right" routerLink="/create-empleados">
                <fa-icon [icon]='faPlus' class="mr-3"></fa-icon>Agregar
            </button>
            <table class="table table-striped mt-5">
                <thead>
                    <tr>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>DNI</th>
                        <th>Salario</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Farfán</td>
                        <td>Sebastián</td>
                        <td>29496334</td>
                        <td>45000</td>
                        <td>
                            <fa-icon [icon]='faEdit' class="fa-lg text-info mr-5"></fa-icon>
                            <fa-icon [icon]='faTrashAlt' class="fa-lg text-danger"></fa-icon>
                        </td>
                    </tr>
                    <tr>
                        <td>Farfán</td>
                        <td>Sebastián</td>
                        <td>29496334</td>
                        <td>45000</td>
                        <td>
                            <fa-icon [icon]='faEdit' class="fa-lg text-info mr-5"></fa-icon>
                            <fa-icon [icon]='faTrashAlt' class="fa-lg text-danger"></fa-icon>
                        </td>
                    </tr>
                    <tr>
                        <td>Farfán</td>
                        <td>Sebastián</td>
                        <td>29496334</td>
                        <td>45000</td>
                        <td>
                            <fa-icon [icon]='faEdit' class="fa-lg text-info mr-5"></fa-icon>
                            <fa-icon [icon]='faTrashAlt' class="fa-lg text-danger"></fa-icon>
                        </td>
                    </tr>                    
                </tbody>
            </table>
            
        </div>
    </div>
</div>